*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

                                                                          /* 1)   TABLET   */

@media screen and (max-width:768px) {
  #lezioni .row>.left, #lezioni .row>.right, .background-h1 {
    width: 100%;
    float: left;
    background-color: rgba(242,242,205,255);
  }
}


                                                                         /* 2)    MOBILE   */

/* @media screen and (max-width:320px) {
  #lezioni .row>.left, #lezioni .row>.right {
    width: 100%;
    float: left;
  }
} */




#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}


                                                                               /* 1) TABLET */

@media screen and (max-width: 768px) {
  #steps .row>.left, #steps .row>.central, #steps .row>.right {
    float: left;
    width: 100%;
    background-color: white;
  }
}


                                                                              /* 2) MOBILE */


/* @media screen and (max-width: 320px) {
  #steps .row>.left, #steps .row>.central, #steps .row>.right {
    float: left;
    width: 100%;
  }
} */



/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}


                                                                          /* 1)   TABLET    */

@media screen and (max-width: 768px) {
  #why .row>.left, #why .row>.first,
  #why .row>.second,
  #why .row>.third  {
    float: left;
    width: 100%;
    background-color: rgba(242,242,205,255);
    margin-top: 0;
  }
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}


img {
  height: 200px;
}

.clear {
  clear: both;
}
